* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.header-address {
  font-weight: 300;
  font-size: 14px;
  color: #222222;
}

.header-catalog-btn {
  background: #1c69d4;
  height: 50px;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header-catalog-btn span {
  margin-left: 17px;
}

.header-input {
  height: 50px;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  padding-left: 49px;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
}

.header {
  background: #fff;
  padding: 23px 50px 29px 60px;
}

.header__desktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__desk-nav {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 15px;
  font-weight: 400;
  margin-top: 18px;
}

.header__desk-nav li {
  margin-right: 40px;
  cursor: pointer;
}

.header__desk-nav li:last-child {
  margin-right: 0;
}

.header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-left .header-left__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 30px;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.header-right .header-right__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-right .header-right__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 400;
}

.header-right .header-right__nav li {
  margin-right: 40px;
  cursor: pointer;
}

.header-right .header-right__nav li:last-child {
  margin-right: 0;
}

.header-right .header-right__num {
  font-size: 18px;
  margin-right: 36px;
}

.header-right .header-right__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right .header-right__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-right .header-right__btn:first-child {
  margin-right: 24px;
}

.header-right .header-right__btn span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.header-right .header-right__bottom {
  position: relative;
}

.header-right .header-right__bottom .header-right__num {
  display: none;
}

.header-right .header-right__btn-srch {
  position: absolute;
  top: 16px;
  left: 20px;
}

.header-right .header-right__input {
  width: 100%;
}

.headar-tablet {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tablet__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.tablet__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 18px;
}

.tablet__logo span {
  margin-left: 9px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.tablet__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tablet__right .tablet__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tablet__right .tablet__btn:first-child {
  margin-right: 24px;
}

.tablet__right .tablet__btn span {
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
}

.tablet__bottom {
  background: #f0f0f0;
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tablet__catalog-btn {
  width: 190px;
}

.tablet__input {
  width: 221px;
}

.tablet__num {
  font-size: 18px;
}

.header-phone {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.phone-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

.phone-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone-btns button {
  margin-right: 27px;
}

.phone-btns button:last-child {
  margin-right: 0;
}

.phone-catalog {
  padding: 12px 10px;
  background: #f0f0f0;
}

.phone-catalog .phone-catalog__btn {
  width: 100%;
}

.phone-catalog .phone-catalog__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}

/*********************************************/

/*********************************************/

/*********************************************/

/*********************************************/

/*********************************************/

/*********************************************/

/*********************************************/

.main-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-bottom .main-bottom__block-left {
  padding: 35px 40px 38px 40px;
  margin-left: -10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(../img/main/screen-wiper.svg);
  background-repeat: no-repeat;
  height: 356px;
  width: 460px;
  overflow: hidden;
}

.main-bottom .main-bottom__title {
  width: 129px;
  z-index: 1;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  line-height: 36px;
}

.main-bottom .main-bottom__btn {
  z-index: 1;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 108px;
  font-weight: 700;
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

.main-bottom .main-bottom__img-awm {
  display: none;
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.main-bottom .main-bottom__block-right {
  padding: 35px 40px 38px 40px;
  position: relative;
  background-image: url(../img/main/RSDOT.svg);
  background-repeat: no-repeat;
  height: 356px;
  width: 950px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.main-bottom .main-bottom__block-info {
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-bottom .main-bottom__data {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #fff;
}

.main-bottom .main-bottom__seil {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #fff;
}

.main-bottom .main-bottom__price-block {
  z-index: 1;
}

.main-bottom .main-bottom__price {
  width: 164px;
  height: 50px;
  background: #ff4400;
  font-size: 15px;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
  text-align: center;
}

.main-bottom .main-bottom__img-rsdot {
  display: none;
  position: absolute;
  z-index: 0;
  right: 76px;
  top: 21px;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background: #fff;
  padding: 40px 50px 40px 50px;
  background: #f0f0f0;
}

.main-content {
  background-image: url(../img/main/background-1920px.svg);
  z-index: 0;
  background-repeat: no-repeat;
  position: relative;
}

.main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-top .main-top__img-left {
  margin-top: 40px;
}

.main-top .main-top__title-left {
  margin-top: 35px;
  font-weight: 700;
  font-size: 42px;
  line-height: 49px;
  color: #fff;
}

.main-top .main-top__btn-info {
  margin-top: 30px;
  color: #222222;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.main-top .main-top__btn-info span {
  margin-right: 16px;
}

.main-top .main-top__img-center {
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 761px;
}

.main-top .main-top__img-center-sm {
  display: none;
  position: absolute;
  z-index: 1;
  top: 27px;
  right: 0;
}

.main-top .main-top__btns-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-top .main-top__btn-arrow {
  width: 80px;
  height: 80px;
  background: rgba(255, 255, 255, 0.2);
}

.main-top .main-top__btn-arrow_active {
  opacity: 0.5;
}

.main-top .main-top__title-right {
  margin-top: 67px;
  font-size: 75px;
  font-weight: 300;
  color: #fff;
}

.main-middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 39px 0 28px 0;
}

.main-middle .main-middle__item {
  width: 460px;
  height: 216px;
  background: #fff;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 20px 32px 16px;
}

.main-middle .main-middle__left {
  font-weight: 900;
  font-size: 36px;
  margin-right: 9px;
  color: rgba(34, 34, 34, 0.2);
}

.main-middle .main-middle__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-middle .main-middle__title {
  color: #222222;
  font-size: 24px;
  font-weight: 700;
}

.main-middle .main-middle__text {
  font-size: 14px;
  color: #222222;
  font-weight: 400;
  line-height: 22px;
}

.main-middle .main-middle__num {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.main-middle .main-middle__btn {
  width: 360px;
  height: 52px;
  border: 2px solid #1c69d4;
  border-radius: 4px;
  color: #1c69d4;
  font-size: 16px;
  font-weight: 700;
}

.main-middle .main-middle__btn_whatsapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3ca255;
  border: 2px solid #3ca255;
}

.main-middle .main-middle__btn_whatsapp .main-middle__btn-text {
  display: none;
}

.main-middle .main-middle__btn_whatsapp img {
  margin-right: 5px;
}

.footer {
  background: #f0f0f0;
  padding: 16px 50px 0 50px;
}

.footer-content .footer-content__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-content .footer-content__nav li {
  font-weight: 700;
  font-size: 15px;
  color: #222222;
  margin-right: 35px;
}

.footer-content .footer-content__nav li:last-child {
  margin-right: 0;
}

.footer-content .footer-content__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.footer-content .footer-content__soc-item {
  width: 30px;
  height: 30px;
  border-radius: 24px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.footer-content .footer-content__soc-item:last-child {
  margin-right: 0;
}

.footer-content .footer-content__text {
  margin-top: 16px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 13px;
  font-weight: 400;
  color: #777777;
}

.footer-content .footer-content__text span {
  text-decoration: underline;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Black.woff") format("woff"), url("../fonts/GothamPro-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro.woff") format("woff"), url("../fonts/GothamPro.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Bold.woff") format("woff"), url("../fonts/GothamPro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Light.woff") format("woff"), url("../fonts/GothamPro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  font-display: swap;
  src: url("../fonts/GothamPro-Medium.woff") format("woff"), url("../fonts/GothamPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

.app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-family: "GothamPro";
}

@media screen and (max-width: 10000px) {
  .header {
    width: 1920px;
  }

  .header-left__catalog-btn {
    width: 220px;
    margin-right: 30px;
  }

  .main {
    width: 1920px;
  }

  .main .main-content {
    padding: 0 190px;
  }

  .main .main-content .main-middle .main-middle__item > .main-middle__btn {
    display: none;
  }

  .footer {
    width: 1920px;
  }
}

@media screen and (max-width: 1600px) {
  .header {
    width: 1600px;
  }

  .header-left__catalog-btn {
    width: 156px;
    margin-right: 30px;
  }

  .main {
    width: 1600px;
  }

  .main .main-content {
    padding: 0 30px;
  }

  .main .main-content .main-top__img-center {
    right: 601px;
  }

  .footer {
    width: 1600px;
  }
}

@media screen and (max-width: 1280px) {
  .header {
    width: 1280px;
  }

  .header-left__catalog-btn {
    width: 180px;
    margin-right: 20px;
  }

  .header-right__nav .bay,
  .header-right__nav .stocks {
    display: none;
  }

  .main {
    width: 1280px;
    padding: 30px 30px 30px 30px;
  }

  .main .main-content .main-top__img-center {
    right: 491px;
  }

  .main .main-content .main-middle__item {
    width: 367px;
    padding: 32px 20px;
  }

  .main .main-content .main-middle__left {
    display: none;
  }

  .main .main-content .main-middle__btn {
    width: 327px;
  }

  .main .main-content .main-bottom .main-bottom__block-left {
    width: 367px;
  }

  .main .main-content .main-bottom .main-bottom__block-left .main-bottom__title {
    font-size: 20px;
    line-height: 19px;
    width: 132px;
  }

  .main .main-content .main-bottom .main-bottom__block-right {
    width: 763px;
  }

  .footer {
    width: 1280px;
  }

  .footer .footer-content .footer-content__nav .f-requisite {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .header {
    width: 960px;
  }

  .header__desk-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header-left__catalog-btn {
    width: 193px;
    margin-right: 20px;
  }

  .header-right__nav .bay,
  .header-right__nav .stocks,
  .header-right__nav .delivery,
  .header-right__nav .selection,
  .header-right__nav .payment,
  .header-right__nav .contacts {
    display: none;
  }

  .main {
    width: 960px;
    padding: 20px;
  }

  .main .main-content {
    padding: 0 20px 0 30px;
    background-image: url(../img/main/background-960px.svg);
  }

  .main .main-content .main-top__img-center {
    right: 331px;
  }

  .main .main-content .main-middle__item {
    width: 280px;
    height: 236px;
    padding: 20px;
    margin-left: -10px;
  }

  .main .main-content .main-middle__btn {
    width: 240px;
  }

  .main .main-content .main-middle__btn .main-middle__btn-text {
    display: block;
  }

  .main .main-content .main-middle__btn .main-middle__btn-num {
    display: none;
  }

  .main .main-content .main-bottom .main-bottom__block-left {
    width: 430px;
    height: 252px;
    background: #01b7e6;
    padding: 30px 40px 30px 38px;
  }

  .main .main-content .main-bottom .main-bottom__block-left .main-bottom__img-awm {
    display: block;
  }

  .main .main-content .main-bottom .main-bottom__block-right {
    width: 430px;
    height: 252px;
    background: #587478;
    padding: 30px 40px 30px 38px;
  }

  .main .main-content .main-bottom .main-bottom__block-right .main-bottom__img-rsdot {
    display: block;
  }

  .main .main-content .main-bottom .main-bottom__block-right .main-bottom__price-block {
    display: none;
  }

  .main .main-content .main-bottom .main-bottom__block-right .main-bottom__seil {
    font-size: 23px;
  }

  .main-top__title-right {
    display: none;
  }

  .footer {
    width: 960px;
  }

  .footer .footer-content .footer-content__nav .f-requisite,
  .footer .footer-content .footer-content__nav .f-privacy {
    display: none;
  }
}

@media screen and (max-width: 640px) {
  .header {
    width: 640px;
    padding: 0;
  }

  .header .headar-tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__desktop,
  .header__desk-nav {
    display: none;
  }

  .main {
    width: 640px;
    padding: 0;
  }

  .main .main-content {
    padding: 0 20px;
    background-image: url(../img/main/background-640px.svg);
  }

  .main .main-content .main-top__img-center {
    right: 28px;
  }

  .main .main-content .main-middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main .main-content .main-middle .main-middle__item {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 600px;
    height: auto;
    margin-bottom: 20px;
    margin-left: 0;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__right {
    width: 270px;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__btn {
    display: block;
    width: 270px;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__btn_whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__right .main-middle__btn {
    display: none;
  }

  .main .main-content .main-bottom .main-bottom__block-left {
    width: 291px;
    height: 252px;
    background: #01b7e6;
    padding: 30px 40px 30px 38px;
    margin-left: 0;
  }

  .main .main-content .main-bottom .main-bottom__block-left .main-bottom__img-awm {
    right: -60px;
  }

  .main .main-content .main-bottom .main-bottom__block-right {
    width: 291px;
    height: 252px;
    background: #587478;
    padding: 30px 40px 30px 38px;
  }

  .main .main-content .main-bottom .main-bottom__block-right .main-bottom__img-rsdot {
    right: 6px;
  }

  .footer {
    width: 640px;
    padding: 30px 10px 0 10px;
  }

  .footer .footer-content .footer-content__nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer .footer-content .footer-content__nav li {
    margin-right: 20px;
    margin-bottom: 20px;
  }

  .footer .footer-content .footer-content__nav .f-requisite,
  .footer .footer-content .footer-content__nav .f-privacy {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    padding: 0;
  }

  .header .headar-tablet {
    display: none;
  }

  .header .header-phone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .header__desktop,
  .header__desk-nav {
    display: none;
  }

  .main {
    width: 320px;
  }

  .main .main-content {
    padding: 0 0 0 10px;
    background-image: url(../img/main/background-320px.svg);
    overflow: hidden;
  }

  .main .main-content .main-top__img-center {
    width: 191px;
    height: 298px;
    left: 149px;
    top: 27px;
  }

  .main .main-content .main-top__img-left {
    margin-top: 27px;
  }

  .main .main-content .main-top__title-left {
    position: absolute;
    font-size: 36px;
    line-height: 40px;
    width: 202px;
    z-index: 5;
  }

  .main .main-content .main-top__btn-arrow {
    width: 60px;
    height: 60px;
  }

  .main .main-content .main-top__btn-arrow img {
    width: 25.5px;
    height: 18px;
  }

  .main .main-content .main-top__btn-info {
    margin-top: 187px;
  }

  .main .main-content .main-middle {
    margin-top: 28px;
    margin-bottom: 10px;
  }

  .main .main-content .main-middle .main-middle__item {
    width: 301px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 0;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__btn,
  .main .main-content .main-middle .main-middle__item .main-middle__btn_whatsapp {
    display: none;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__right .main-middle__btn {
    display: block;
    width: 261px;
  }

  .main .main-content .main-middle .main-middle__item .main-middle__right .main-middle__btn_whatsapp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .main .main-content .main-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main .main-content .main-bottom .main-bottom__block-left,
  .main .main-content .main-bottom .main-bottom__block-right {
    width: 300px;
    margin-bottom: 10px;
    padding: 30px 40px 30px 20px;
  }

  .main .main-content .main-bottom .main-bottom__block-left .main-bottom__img-rsdot,
  .main .main-content .main-bottom .main-bottom__block-right .main-bottom__img-rsdot {
    right: 11px;
  }

  .footer {
    width: 320px;
  }

  .footer .footer-content .footer-content__nav {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}